:root {
  /* fonts */
  --main-font: "roboto", sans-serif;
  --secondary-font: "raleway", sans-serif;
  /* text colors  */
  --main-txt-col: #757575;
  --secondary-txt-col: #212121;
  --accent-txt-col: #2196f3;
  --dark-txt-col: #000;
  --light-txt-col: #fff;
  --footer-txt-col: rgba(255, 255, 255, 0.6);
  /* background-colors  */
  --main-bgc: #2f303a;
  --secondary-bgc: #f5f4fa;
  --hero-bgc: #c4c4c4;
  --accent-btn-bgc: #2196f3;
  --header-border: #ececec;
  --portfolio-border: #eeeeee;
  --hero-btn-focus: #188ce8;
  --social-icon: #afb1b8;
  /* flex */
  --flex-gap: 30px;
  --flex-quantity: 1;
  /* others */
  --main-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

:root {
  scroll-behavior: smooth;
}

.body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-txt-col);
}
.body--no-scroll {
  overflow: hidden;
}

.link {
  color: currentColor;
  text-decoration: none;
}

.list {
  list-style: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.flex-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--flex-gap);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.flex-list__item {
  -ms-flex-preferred-size: calc((100% - (var(--flex-quantity) - 1) * var(--flex-gap)) / var(--flex-quantity));
      flex-basis: calc((100% - (var(--flex-quantity) - 1) * var(--flex-gap)) / var(--flex-quantity));
}

.logo {
  font-size: 24px;
  line-height: 1.17;
  font-family: var(--secondary-font);
  font-weight: 700;
  color: var(--accent-txt-col);
}
.logo__header-style {
  color: var(--dark-txt-col);
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}
.footer .logo {
  display: inline-block;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
}

.footer__logo {
  color: var(--light-txt-col);
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--secondary-txt-col);
  gap: 50px;
}
.nav__current-item {
  position: relative;
}
.nav__current-page {
  color: var(--accent-txt-col);
}
.nav__current-page::after {
  position: absolute;
  bottom: -1px;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-btn-bgc);
  border-radius: 2px;
}
.nav__link {
  display: block;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: color var(--main-transition);
  transition: color var(--main-transition);
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-txt-col);
}

.mobile-btn {
  display: none;
}
@media screen and (max-width: 767px) {
  .mobile-btn {
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    z-index: 3;
  }
  .mobile-btn:active .mobile-btn__icon {
    fill: var(--accent-txt-col);
  }
  .mobile-btn.is-open .mobile-btn__open-icon {
    visibility: hidden;
  }
  .mobile-btn__close-icon {
    visibility: hidden;
  }
  .mobile-btn.is-open .mobile-btn__close-icon {
    visibility: visible;
  }
}

.primary-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--light-txt-col);
  background-color: var(--accent-btn-bgc);
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  -webkit-transition: background-color var(--main-transition);
  transition: background-color var(--main-transition);
}
.primary-btn:hover, .primary-btn:focus {
  background-color: var(--hero-btn-focus);
}
.primary-btn--icon {
  gap: 8px;
  padding: 10px 28px;
}

.filter-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--secondary-txt-col);
  background-color: var(--secondary-bgc);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  -webkit-transition: color var(--main-transition), background-color var(--main-transition), -webkit-box-shadow var(--main-transition);
  transition: color var(--main-transition), background-color var(--main-transition), -webkit-box-shadow var(--main-transition);
  transition: color var(--main-transition), background-color var(--main-transition), box-shadow var(--main-transition);
  transition: color var(--main-transition), background-color var(--main-transition), box-shadow var(--main-transition), -webkit-box-shadow var(--main-transition);
}
.filter-btn:hover, .filter-btn:focus, .filter-btn--current {
  color: var(--light-txt-col);
  background-color: var(--accent-btn-bgc);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.section-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  color: var(--secondary-txt-col);
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.social-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  color: var(--social-icon);
  border-radius: 50%;
  -webkit-transition: color var(--main-transition), background-color var(--main-transition);
  transition: color var(--main-transition), background-color var(--main-transition);
}
.social-list__link:hover, .social-list__link:focus {
  color: var(--light-txt-col);
  background-color: var(--accent-btn-bgc);
}
.social-list__icon {
  fill: currentColor;
}
.social-list__link--footer {
  color: var(--light-txt-col);
  background-color: rgba(255, 255, 255, 0.1);
}

.address {
  font-style: inherit;
}
.address__item {
  line-height: 1.5;
}
.address__item:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .address__item:not(:last-child) {
    margin-bottom: 9px;
  }
}
.address__street {
  color: var(--light-txt-col);
  -webkit-transition: color var(--main-transition);
  transition: color var(--main-transition);
}
.address__street:hover, .address__street:focus {
  color: var(--footer-txt-col);
}
.address__contacts {
  color: var(--footer-txt-col);
  -webkit-transition: color var(--main-transition);
  transition: color var(--main-transition);
}
.address__contacts:hover, .address__contacts:focus {
  color: var(--light-txt-col);
}

@media screen and (min-width: 1200px) {
  .subscribe__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 12px;
  }
}
.subscribe__group {
  display: block;
  position: relative;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .subscribe__group {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__group {
    width: 358px;
  }
}
@media screen and (max-width: 1199px) {
  .subscribe__group {
    margin-bottom: 20px;
  }
}
.subscribe__label {
  position: absolute;
  left: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 16px;
  line-height: 1.25;
  color: var(--footer-txt-col);
  -webkit-transition: opacity var(--main-transition);
  transition: opacity var(--main-transition);
  cursor: text;
}
.subscribe__input:not(:-moz-placeholder-shown) + .subscribe__label {
  opacity: 0;
}
.subscribe__input:not(:-ms-input-placeholder) + .subscribe__label {
  opacity: 0;
}
.subscribe__input:not(:placeholder-shown) + .subscribe__label, .subscribe__input:focus-within + .subscribe__label {
  opacity: 0;
}
.subscribe__input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  outline: transparent;
  padding: 15px 16px;
  font-size: 16px;
  line-height: 1.25;
  color: var(--light-txt-col);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  -webkit-transition: border-color var(--main-transition);
  transition: border-color var(--main-transition);
}
.subscribe__input:not(:-moz-placeholder-shown) {
  border-color: var(--light-txt-col);
}
.subscribe__input:not(:-ms-input-placeholder) {
  border-color: var(--light-txt-col);
}
.subscribe__input:focus, .subscribe__input:hover, .subscribe__input:not(:placeholder-shown) {
  border-color: var(--light-txt-col);
}
.subscribe__input::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity var(--main-transition);
  transition: opacity var(--main-transition);
}
.subscribe__input::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity var(--main-transition);
  transition: opacity var(--main-transition);
}
.subscribe__input:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity var(--main-transition);
  transition: opacity var(--main-transition);
}
.subscribe__input::-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity var(--main-transition);
  transition: opacity var(--main-transition);
}
.subscribe__input::placeholder {
  opacity: 0;
  -webkit-transition: opacity var(--main-transition);
  transition: opacity var(--main-transition);
}
.subscribe__input:focus-within::-webkit-input-placeholder {
  opacity: 1;
}
.subscribe__input:focus-within::-moz-placeholder {
  opacity: 1;
}
.subscribe__input:focus-within:-ms-input-placeholder {
  opacity: 1;
}
.subscribe__input:focus-within::-ms-input-placeholder {
  opacity: 1;
}
.subscribe__input:focus-within::placeholder {
  opacity: 1;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  -webkit-transition: opacity var(--main-transition), visibility var(--main-transition);
  transition: opacity var(--main-transition), visibility var(--main-transition);
}
@media screen and (max-width: 767px) {
  .backdrop {
    padding: 93px 15px;
  }
}
.backdrop--is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: relative;
  border-radius: 4px;
  padding: 40px;
  background-color: var(--light-txt-col);
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    -webkit-transition: -webkit-transform var(--main-transition);
    transition: -webkit-transform var(--main-transition);
    transition: transform var(--main-transition);
    transition: transform var(--main-transition), -webkit-transform var(--main-transition);
  }
  .backdrop--is-hidden .modal {
    -webkit-transform: translate(-50%, -50%) scale(-1.2);
            transform: translate(-50%, -50%) scale(-1.2);
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}
.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: color var(--main-transition), -webkit-box-shadow var(--main-transition);
  transition: color var(--main-transition), -webkit-box-shadow var(--main-transition);
  transition: box-shadow var(--main-transition), color var(--main-transition);
  transition: box-shadow var(--main-transition), color var(--main-transition), -webkit-box-shadow var(--main-transition);
}
.modal__btn:hover, .modal__btn:focus {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  color: var(--accent-btn-bgc);
}
.modal__btn-icon {
  fill: currentColor;
}

.register-form__title {
  display: block;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: var(--secondary-txt-col);
}
@media screen and (min-width: 1200px) {
  .register-form__title {
    line-height: 1.15;
  }
}
.register-form__group {
  margin-bottom: 20px;
}
.register-form__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
  position: relative;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  cursor: pointer;
}
.register-form__wrap:last-child {
  margin-bottom: 0;
}
.register-form__input {
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  padding-right: 8px;
  font-size: 16px;
  outline: transparent;
  -webkit-transition: border-color var(--main-transition);
  transition: border-color var(--main-transition);
}
.register-form__input:focus, .register-form__message:focus, .register-form__wrap:hover .register-form__input, .register-form__wrap:hover .register-form__message {
  border-color: var(--accent-btn-bgc);
}
.register-form__icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
  -webkit-transition: fill var(--main-transition);
  transition: fill var(--main-transition);
  fill: var(--secondary-txt-col);
}
.register-form__wrap:hover .register-form__icon {
  fill: var(--accent-btn-bgc);
}
.register-form__input:focus + .register-form__icon {
  fill: var(--accent-btn-bgc);
}
.register-form__message {
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  outline: transparent;
  font-size: 16px;
  -webkit-transition: border-color var(--main-transition);
  transition: border-color var(--main-transition);
}
.register-form__message::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.register-form__message::-moz-placeholder {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.register-form__message:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.register-form__message::-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.register-form__message::placeholder {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.register-form__agreement {
  line-height: 1.71;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  cursor: pointer;
}
@media screen and (max-width: 1199px) {
  .register-form__agreement {
    font-size: 12px;
    line-height: 1.17;
  }
}
.register-form__agreement-link {
  color: var(--accent-txt-col);
}
.register-form__agriment-icon {
  margin-right: 8px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.register-form__icon-uncheck {
  fill: var(--secondary-txt-col);
  -webkit-transition: fill var(--main-transition), opacity var(--main-transition);
  transition: fill var(--main-transition), opacity var(--main-transition);
}
.register-form__checkbox:hover + .register-form__agriment-icon .register-form__icon-uncheck, .register-form__checkbox:focus + .register-form__agriment-icon .register-form__icon-uncheck {
  fill: var(--accent-txt-col);
}
.register-form__checkbox:checked + .register-form__agriment-icon .register-form__icon-uncheck {
  opacity: 0;
}
.register-form__icon-checkd {
  opacity: 0;
  -webkit-transition: opacity var(--main-transition);
  transition: opacity var(--main-transition);
}
.register-form__checkbox:checked + .register-form__agriment-icon .register-form__icon-checkd {
  opacity: 1;
}

.mobile-menu-backdrop {
  display: none;
  overflow-y: scroll;
}
@media screen and (max-width: 767px) {
  .mobile-menu-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    background-color: var(--light-txt-col);
  }
  .mobile-menu-backdrop.is-open {
    display: block;
  }
}

.mobile-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 64px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 48px 40px;
  margin-left: auto;
  margin-right: auto;
  max-width: 480px;
  overflow: auto;
}
.mobile-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}
@media screen and (max-width: 767px) {
  .mobile-menu__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--secondary-txt-col);
  }
  .mobile-menu__link--current {
    color: var(--accent-txt-col);
  }
}
.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: var(--accent-txt-col);
}
@media screen and (max-width: 767px) {
  .mobile-menu__contacts-link {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    display: block;
    margin-bottom: 64px;
  }
  .mobile-menu__contacts-link:hover, .mobile-menu__contacts-link:focus {
    color: var(--accent-txt-col);
  }
  .mobile-menu__contacts-link--big {
    font-size: 34px;
    line-height: 1.18;
    color: var(--accent-txt-col);
    margin-bottom: 32px;
  }
}
.mobile-menu__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.mobile-menu__social-item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mobile-menu__social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-txt-col);
}

.header {
  border-bottom: 1px solid var(--header-border);
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.header__group {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
}
.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}
@media screen and (max-width: 1199px) {
  .header__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .header__contacts {
    gap: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  letter-spacing: 0.02em;
  -webkit-transition: color var(--main-transition);
  transition: color var(--main-transition);
  font-size: 12px;
  line-height: 1.17;
  padding-top: 5px;
  padding-bottom: 5px;
}
@media screen and (min-width: 1200px) {
  .header__link {
    font-size: 14px;
    line-height: 1.14;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.header__link:hover, .header__link:focus {
  color: var(--accent-txt-col);
}
.header__icon {
  fill: currentColor;
}
@media screen and (max-width: 1199px) {
  .header__icon {
    margin-right: 8px;
  }
  .header__icon:last-child {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .header__icon {
    margin-right: 10px;
  }
  .header__icon:first-child {
    display: none;
  }
}

.hero {
  max-width: 480px;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-right: auto;
  margin-left: auto;
  background-size: cover;
  background-position: center, center;
  background-color: var(--hero-bgc);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(47, 48, 58, 0.4)), color-stop(50%, rgba(47, 48, 58, 0.4))), url(../images/hero_mb.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4) 50%, rgba(47, 48, 58, 0.4) 50%), url(../images/hero_mb.jpg);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(47, 48, 58, 0.4)), color-stop(50%, rgba(47, 48, 58, 0.4))), image-set(url("../images/hero_mb.webp") 1x);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4) 50%, rgba(47, 48, 58, 0.4) 50%), -webkit-image-set(url("../images/hero_mb.webp") 1x);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4) 50%, rgba(47, 48, 58, 0.4) 50%), image-set(url("../images/hero_mb.webp") 1x);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(47, 48, 58, 0.4)), color-stop(50%, rgba(47, 48, 58, 0.4))), url(../images/hero@2x_mb.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4) 50%, rgba(47, 48, 58, 0.4) 50%), url(../images/hero@2x_mb.jpg);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(47, 48, 58, 0.4)), color-stop(50%, rgba(47, 48, 58, 0.4))), image-set(url("../images/hero@2x_mb.webp") 2x);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4) 50%, rgba(47, 48, 58, 0.4) 50%), -webkit-image-set(url("../images/hero@2x_mb.webp") 2x);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4) 50%, rgba(47, 48, 58, 0.4) 50%), image-set(url("../images/hero@2x_mb.webp") 2x);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(47, 48, 58, 0.4)), color-stop(50%, rgba(47, 48, 58, 0.4))), url(../images/hero_tb.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4) 50%, rgba(47, 48, 58, 0.4) 50%), url(../images/hero_tb.jpg);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(47, 48, 58, 0.4)), color-stop(50%, rgba(47, 48, 58, 0.4))), image-set(url("../images/hero_tb.webp") 1x);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4) 50%, rgba(47, 48, 58, 0.4) 50%), -webkit-image-set(url("../images/hero_tb.webp") 1x);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4) 50%, rgba(47, 48, 58, 0.4) 50%), image-set(url("../images/hero_tb.webp") 1x);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(47, 48, 58, 0.4)), color-stop(50%, rgba(47, 48, 58, 0.4))), url(../images/hero@2x_tb.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4) 50%, rgba(47, 48, 58, 0.4) 50%), url(../images/hero@2x_tb.jpg);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(47, 48, 58, 0.4)), color-stop(50%, rgba(47, 48, 58, 0.4))), image-set(url("../images/hero@2x_tb.webp") 2x);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4) 50%, rgba(47, 48, 58, 0.4) 50%), -webkit-image-set(url("../images/hero@2x_tb.webp") 2x);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4) 50%, rgba(47, 48, 58, 0.4) 50%), image-set(url("../images/hero@2x_tb.webp") 2x);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(47, 48, 58, 0.4)), color-stop(50%, rgba(47, 48, 58, 0.4))), url(../images/hero_dt.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4) 50%, rgba(47, 48, 58, 0.4) 50%), url(../images/hero_dt.jpg);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(47, 48, 58, 0.4)), color-stop(50%, rgba(47, 48, 58, 0.4))), image-set(url("../images/hero_dt.webp") 1x);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4) 50%, rgba(47, 48, 58, 0.4) 50%), -webkit-image-set(url("../images/hero_dt.webp") 1x);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4) 50%, rgba(47, 48, 58, 0.4) 50%), image-set(url("../images/hero_dt.webp") 1x);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(47, 48, 58, 0.4)), color-stop(50%, rgba(47, 48, 58, 0.4))), url(../images/hero@2x_dt.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4) 50%, rgba(47, 48, 58, 0.4) 50%), url(../images/hero@2x_dt.jpg);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(47, 48, 58, 0.4)), color-stop(50%, rgba(47, 48, 58, 0.4))), image-set(url("../images/hero@2x_dt.webp") 2x);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4) 50%, rgba(47, 48, 58, 0.4) 50%), -webkit-image-set(url("../images/hero@2x_dt.webp") 2x);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4) 50%, rgba(47, 48, 58, 0.4) 50%), image-set(url("../images/hero@2x_dt.webp") 2x);
  }
}
.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--light-txt-col);
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 350px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 600px;
    font-size: 44px;
    line-height: 1.36;
  }
}

@media screen and (min-width: 768px) {
  .advantages {
    --flex-quantity: 2;
  }
}
@media screen and (min-width: 1200px) {
  .advantages {
    --flex-quantity: 4;
  }
}
.advantages__icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--secondary-bgc);
  border-radius: 4px;
}
.advantages__subtitle {
  font-weight: 700;
  font-size: inherit;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-txt-col);
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .advantages__subtitle {
    text-align: center;
  }
}

.our-work {
  --flex-quantity: 3;
  display: none;
}
@media screen and (min-width: 1200px) {
  .our-work {
    display: block;
    padding-top: 0;
  }
  .our-work__item {
    position: relative;
  }
  .our-work__txt {
    position: absolute;
    bottom: 0;
    padding-top: 27px;
    padding-bottom: 27px;
    width: 100%;
    font-weight: 700;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: var(--light-txt-col);
    background-color: rgba(47, 48, 58, 0.8);
  }
}

.our-team {
  background-color: var(--secondary-bgc);
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .our-team {
    --flex-quantity: 2;
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .our-team {
    --flex-quantity: 4;
    max-width: 1600px;
  }
}
.our-team__item {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.our-team__wrapper {
  padding-top: 30px;
  padding-bottom: 24px;
  background-color: var(--light-txt-col);
}
@media screen and (min-width: 1200px) {
  .our-team__wrapper {
    padding-bottom: 30px;
  }
}
.our-team__subtitle {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  font-weight: 500;
  color: var(--secondary-txt-col);
  margin-bottom: 10px;
}
.our-team__text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.clients {
  --flex-quantity: 2;
}
@media screen and (min-width: 768px) {
  .clients {
    --flex-quantity: 3;
  }
}
@media screen and (min-width: 1200px) {
  .clients {
    --flex-quantity: 6;
  }
}
.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 92px;
  color: var(--social-icon);
  border-width: 1px;
  border-style: solid;
  border-color: currentcolor;
  -o-border-image: initial;
     border-image: initial;
  border-radius: 4px;
  -webkit-transition: color var(--main-transition);
  transition: color var(--main-transition);
}
.clients__link:hover, .clients__link:focus {
  color: var(--accent-btn-bgc);
}
.clients__icon {
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .portfolio {
    --flex-quantity: 2;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio {
    --flex-quantity: 3;
  }
}
.portfolio__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .portfolio__filter {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    margin-bottom: 40px;
    gap: 15px 8px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio__filter {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__filter {
    margin-bottom: 50px;
  }
}
.portfolio__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: -webkit-box-shadow var(--main-transition);
  transition: -webkit-box-shadow var(--main-transition);
  transition: box-shadow var(--main-transition);
  transition: box-shadow var(--main-transition), -webkit-box-shadow var(--main-transition);
  height: 100%;
}
.portfolio__card:hover, .portfolio__card:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio__contain {
  position: relative;
  overflow: hidden;
}
.portfolio__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  color: var(--light-txt-col);
  padding-left: 24px;
  padding-right: 24px;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform var(--main-transition);
  transition: -webkit-transform var(--main-transition);
  transition: transform var(--main-transition);
  transition: transform var(--main-transition), -webkit-transform var(--main-transition);
  overflow: auto;
}
.portfolio__card:hover .portfolio__text, .portfolio__card:focus .portfolio__text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.portfolio__wrapper {
  padding: 20px 24px;
  border: 1px solid var(--portfolio-border);
  border-top: none;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.portfolio__subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-txt-col);
  margin-bottom: 4px;
}
.portfolio__description {
  font-size: 16px;
  line-height: 1.88;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--main-bgc);
}
@media screen and (max-width: 1199px) {
  .footer__group {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__group {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .footer__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    padding-left: 61px;
    gap: 165px;
  }
}
@media screen and (max-width: 1199px) {
  .footer__wrap {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__wrap {
    margin-right: auto;
    padding: 0;
    gap: 70px;
  }
}
@media screen and (max-width: 767px) {
  .footer__align:not(:last-child) {
    margin-bottom: 60px;
  }
}
.footer__title {
  display: block;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--light-txt-col);
  margin-bottom: 20px;
}/*# sourceMappingURL=main.css.map */