.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--main-bgc);

  &__group {
    @media screen and (max-width: 1199px) {
      text-align: center;
    }

    @media screen and (min-width: 1200px) {
      align-items: baseline;
      display: flex;
    }
  }

  &__wrap {
    @media screen and (min-width: 768px) {
      display: flex;
      align-items: baseline;
      padding-left: 61px;
      gap: 165px;
    }

    @media screen and (max-width: 1199px) {
      margin-bottom: 60px;
    }

    @media screen and (min-width: 1200px) {
      margin-right: auto;
      padding: 0;
      gap: 70px;
    }
  }
  &__align {
    @media screen and (max-width: 767px) {
      &:not(:last-child) {
        margin-bottom: 60px;
      }
    }
  }

  &__title {
    display: block;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--light-txt-col);
    margin-bottom: 20px;
  }
}
