.hero {
  max-width: 480px;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-right: auto;
  margin-left: auto;

  background-size: auto, cover;
  background-position: center, center;
  background-color: var(--hero-bgc);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4) 50%,
      rgba(47, 48, 58, 0.4) 50%
    ),
    url(../images/hero_mb.jpg);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4) 50%,
      rgba(47, 48, 58, 0.4) 50%
    ),
    image-set(url('../images/hero_mb.webp') 1x);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4) 50%,
        rgba(47, 48, 58, 0.4) 50%
      ),
      url(../images/hero@2x_mb.jpg);
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4) 50%,
        rgba(47, 48, 58, 0.4) 50%
      ),
      image-set(url('../images/hero@2x_mb.webp') 2x);
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4) 50%,
        rgba(47, 48, 58, 0.4) 50%
      ),
      url(../images/hero_tb.jpg);
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4) 50%,
        rgba(47, 48, 58, 0.4) 50%
      ),
      image-set(url('../images/hero_tb.webp') 1x);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4) 50%,
          rgba(47, 48, 58, 0.4) 50%
        ),
        url(../images/hero@2x_tb.jpg);
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4) 50%,
          rgba(47, 48, 58, 0.4) 50%
        ),
        image-set(url('../images/hero@2x_tb.webp') 2x);
    }
  }

  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4) 50%,
        rgba(47, 48, 58, 0.4) 50%
      ),
      url(../images/hero_dt.jpg);
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4) 50%,
        rgba(47, 48, 58, 0.4) 50%
      ),
      image-set(url('../images/hero_dt.webp') 1x);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4) 50%,
          rgba(47, 48, 58, 0.4) 50%
        ),
        url(../images/hero@2x_dt.jpg);
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4) 50%,
          rgba(47, 48, 58, 0.4) 50%
        ),
        image-set(url('../images/hero@2x_dt.webp') 2x);
    }
  }

  &__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--light-txt-col);
    margin-bottom: 30px;

    margin-left: auto;
    margin-right: auto;
    max-width: 350px;

    @media screen and (min-width: 1200px) {
      max-width: 600px;
      font-size: 44px;
      line-height: 1.36;
    }
  }
}
