.hero {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-right: auto;
    margin-left: auto;
    background-color: var(--hero-bgc);
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4) 50%,
            rgba(47, 48, 58, 0.4) 50%),
        url(../images/hero-bg.jpg);
    background-size: auto, cover;
    background-position: center, center;

    &__title {
            font-weight: 900;
            font-size: 44px;
            line-height: 1.36;
            text-align: center;
            letter-spacing: 0.06em;
            text-transform: uppercase;
            color: var(--light-txt-col);
            margin-bottom: 30px;
    
            margin-left: auto;
            margin-right: auto;
            max-width: 600px;
        }

        
}