.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  //
  overflow-y: scroll;

  transition: opacity var(--main-transition), visibility var(--main-transition);
  @media screen and (max-width: 767px) {
    padding: 93px 15px;
  }
  &--is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}
