.subscribe {
  @media screen and (min-width: 1200px) {
    &__wrap {
      display: flex;
      gap: 12px;
    }
  }
  &__group {
    display: block;
    position: relative;

    height: 50px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 768px) {
      width: 450px;
    }

    @media screen and (min-width: 1200px) {
      width: 358px;
    }

    @media screen and (max-width: 1199px) {
      margin-bottom: 20px;
    }
  }

  &__label {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    line-height: 1.25;
    color: var(--footer-txt-col);
    transition: opacity var(--main-transition);
    cursor: text;
  }

  .subscribe__input:not(:placeholder-shown) + &__label,
  .subscribe__input:focus-within + &__label {
    opacity: 0;
  }

  &__input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    outline: transparent;
    padding: 15px 16px;

    font-size: 16px;
    line-height: 1.25;
    color: var(--light-txt-col);

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    transition: border-color var(--main-transition);
  }

  &__input:focus,
  &__input:hover,
  &__input:not(:placeholder-shown) {
    border-color: var(--light-txt-col);
  }

  &__input::placeholder {
    opacity: 0;
    transition: opacity var(--main-transition);
  }

  &__input:focus-within::placeholder {
    opacity: 1;
  }
}
