:root {
  scroll-behavior: smooth;
}

.body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-txt-col);

  &--no-scroll {
    overflow: hidden;
  }
}
